/**
 * These are additional variables used throughout the application. This is where
 * we should maintain overrides not specific to Bootstrap components.
 */

//Generalized Site settings go here:
/**
 * Typography-related.
 */

@font-family-sans-serif-bold:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@error-highlight-color: #ff0000;
@loading-image-url: url(../assets/images/loading-image.gif) 50% 50% no-repeat;
@show-page-background-image: false;
//@page-image: '../assets/images/Grey-Background.png';
@border-radius-common: 3px;


/*
@header-background-color: #cbcbcb;
@progress-bar-border: #bbbbbb;
@progress-bar-default: #ffffff;
@progress-bar-header-background: #eeeeee;
@progress-bar-header-text: #6c6c6c;
@panel-background: @pre-bg;
@panel-inverse-border: @panel-default-border;
@panel-inverse-heading-text-color: @navbar-inverse-link-hover-color;
@panel-inverse-heading-bg-color: #75787b;
@panel-inverse-heading-border: @panel-default-border;
*/
/*
@sansFontFamily: 'Roboto', sans-serif;
@font-bold-family: 'robotoBold';
@font-bold-src1: url('../assets/fonts/Roboto-Bold-webfont.eot');
@font-bold-src2: url('../assets/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Roboto-Bold-webfont.woff') format('woff'), url('../assets/fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../assets/fonts/Roboto-Bold-webfont.svg#robotoBold') format('svg');
@font-bold-weight: normal;
@font-bold-style: normal;
@font-regular-family: 'robotoRegular';
@font-regular-src1: url('../assets/fonts/Roboto-Regular-webfont.eot');
@font-regular-src2: url('../assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Roboto-Regular-webfont.woff') format('woff'), url('../assets/fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../assets/fonts/Roboto-Regular-webfont.svg#robotoRegular') format('svg');
@font-regular-weight: normal;
@font-regular-style: normal;
*/
//Terafina settings
//@logoPath: url('../images/companylogo.png');

@logoWidth: 100px;
@logoHeight: 56px;
@logoPosX: -4em;
@xsLogoPosX: -6em;
@logoPoxY: -14px;
@logoMarginBottom: -11px;
@webSite: 'terafinainc.com ';
@webSiteShortName: 'Terafina';
@webSiteName: 'Terafina, Inc.';

//New Design Variables => to be translated to more generic settings
@gray: #434a55;
@blue: #2655A7;
@cyan2: #00a2e1;
@orange: #F3A000;
@light-orange: #ffc962;
@green: #25841E;
@light-green: #4e8447;

@default-color: #ffffff;
@default-progress-color: #8a919c;
